/* IDEA: cover  page css */


html,body{
  background-color: rgb(239, 247, 82);
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}
.bck {

overflow: hidden;
  background-position: center;
 background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  height: 80vh;
width: 100%;
background-image: url("bck.jpg");
animation: change 2s  3 linear;
animation-play-state:;
}
@keyframes change {
  0%{
    background-image: url("bck.jpg");
  }

  100%{
    background-image: url("BCK1.jpg");
  }
}


.bck .textt{

position: relative;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 150px;
}

@media screen and (min-width: 301px) {
  div.textt {
    font-size: 80px;
  }
}
@media screen and (max-width: 300px) {
  div.textt {
    font-size: 30px;
  }
}
